@import "../../main.scss";

.sign-up-input {
  background-color: transparent !important;
  height: 54px;
  color: $color-primary-200 !important;
  margin: 8px auto;

  &::placeholder {
    color: $color-primary-200 !important;
  }
}

.sign-up-btn {
  height: 54px;

  &:hover {
    background-color: transparent !important;
    color: $color-secondary-500 !important;
    border: 2px solid $color-secondary-500 !important;
  }
}
