@import "../../main.scss";

.sign-up-input {
  background-color: transparent !important;
  height: 54px;
  color: $color-primary-200 !important;
  margin: 8px auto;

  &::placeholder {
    color: $color-primary-200 !important;
  }
}

.sign-up-btn {
  height: 54px;
  border: 2px solid $color-secondary-500 !important;

  &:hover {
    background-color: transparent !important;
    color: $color-secondary-500 !important;
  }
}

.validation-feedback {
  position: absolute;
  left: 10px;
  bottom: -15px;
}
