.header {
  background-size: cover;
  background-position: right;
  background-image: url(../../assets/hero.jpg);
  min-height: fit-content;
  box-sizing: border-box;

  &__content {
    height: 100vh;
  }
}

.container {
  padding: 0;
}

.navbar {
  margin: 0;
  height: fit-content;
  padding: 18px 0;

  &-nav {
    align-items: center;
    padding: 0;
    margin: 0;
  }
}

.nav {
  &-item:nth-child(n + 2) {
    margin-left: 40px;
  }
}
