* {
  box-sizing: border-box;
}

.nopadding {
  padding: 0 !important;
  margin: 0 !important;
}

.section {
  margin-top: 110px;
}

$grid-gutter-width: 20px !default;

$color-primary-100: #000000 !default;
$color-primary-200: #f8f8f8 !default;
$color-primary-300: #df4e3c !default;
$color-secondary-100: #aeaeae !default;
$color-secondary-200: #8d8d8d !default;
$color-secondary-300: #bdbdbd !default;
$color-secondary-400: #c4c4c4 !default;
$color-secondary-500: #ffffff !default;
$color-secondary-600: #959595 !default;
$color-secondary-700: #507a36 !default;
$color-secondary-800: #e5e5e5 !default;

$theme-colors: (
  "color-primary-100": $color-primary-100,
  "color-primary-200": $color-primary-200,
  "color-primary-300": $color-primary-300,
  "color-secondary-100": $color-secondary-100,
  "color-secondary-200": $color-secondary-200,
  "color-secondary-300": $color-secondary-300,
  "color-secondary-400": $color-secondary-400,
  "color-secondary-500": $color-secondary-500,
  "color-secondary-600": $color-secondary-600,
  "color-secondary-700": $color-secondary-700,
  "color-secondary-800": $color-secondary-800,
) !default;

$font-family-noto-sans: "Noto Sans", sans-serif;
$font-family-poppins: "Poppins", sans-serif;
$font-family-base: $font-family-noto-sans !default;

$h1-font-size: 50px !default;
$h2-font-size: 50px !default;
$h3-font-size: 30px !default;
$h4-font-size: 25px !default;
$h5-font-size: 20px !default;
$h6-font-size: 17px !default;

//font family
h1,
h3,
h4,
h5,
h6 {
  font-family: $font-family-noto-sans;
}

h2 {
  font-family: $font-family-poppins;
}

//font weight
$h1-font-weight: 700 !default;

.fw-bold {
  font-weight: 700;
}

.fw-medium {
  font-weight: 600;
}

h5 {
  font-weight: 500;
}

h6 {
  font-weight: 400;
}

p {
  line-height: 1.2;
}

.button-1 {
  font-family: $font-family-noto-sans;
  font-weight: 500;
  font-size: 20px;
  background-color: transparent;
  color: $color-primary-200;
  border: 2px solid $color-primary-200;
}

.button-2 {
  font-family: $font-family-noto-sans;
  font-weight: 400;
  font-size: 15px;
}
.link {
  color: $color-primary-300;
  font-weight: 500;
  font-size: 15px;
}

.span-1 {
  font-weight: 500;
  font-size: 20px;
}

.span-2 {
  font-weight: 300;
  font-size: 14px;
}

.form-control {
  &:focus {
    border-color: $color-secondary-200 !important;
    -webkit-box-shadow: none;
    box-shadow: none !important;
  }
}

$input-box-shadow: none;
$input-border-color: $color-secondary-300;

$accordion-border-width: 0;
$accordion-border-radius: 0;
$accordion-button-focus-box-shadow: rgba(68, 68, 68, 0.09);
$border-radius: 15px !default;

$form-check-input-width: 1.2em;
$form-check-input-border: 2px solid $color-secondary-200;
$form-check-input-focus-border: $color-secondary-300;
$form-check-input-focus-box-shadow: none;
$form-check-input-checked-bg-color: $color-primary-300;
$form-check-label-cursor: pointer;

@import "~bootstrap/scss/bootstrap.scss";
